<div class="flex flex-col w-full gap-2 p-1">
    <h1 class="font-bold text-center bg-slate-400">BORANG TEMPAHAN</h1>
    

    <div class="grid grid-cols-2 border border-black p-1">
      <h2 class='col-span-2 bg-slate-300 text-center font-bold'>MAKLUMAT PROGRAM</h2>
        <label for="nama_program" class="font-bold ">NAMA PROGRAM</label>
        <input type="text" name="nama_program" id="nama_program" 
          class="border border-black hover:outline-none rounded px-1"/>   
        <label for="jumlah_peserta" class="font-bold ">JUMLAH PESERTA</label>
        <input type="text" name="jumlah_peserta" id="jumlah_peserta" 
          class="border border-black hover:outline-none rounded px-1"/>   
        <label for="tarikh_mula" class="font-bold ">TARIKH MULA</label>
        <input type="text" name="tarikh_mula" id="tarikh_mula" 
          class="border border-black hover:outline-none rounded px-1"/>    
        <label for="tarikh_akhir" class="font-bold ">TARIKH AKHIR</label>
        <input type="text" name="tarikh_akhir" id="tarikh_akhir" 
         class="border border-black hover:outline-none rounded px-1"/>    
         <label for="masa_seminar" class="font-bold ">MASA SEMINAR</label>
         <input type="text" name="masa_seminar" id="masa_seminar" 
          class="border border-black hover:outline-none rounded px-1"/> 
    </div>
    
    <div class="grid grid-cols-2 border border-black p-1">
      <h2 class='col-span-2 bg-slate-300 text-center font-bold'>TEMPAHAN PENGINAPAN RUAI INAP</h2>
        <label for="tarikh_masuk" class="font-bold ">TARIKH MASUK</label>
        <input type="text" name="tarikh_masuk" id="tarikh_masuk" 
          class="border border-black hover:outline-none rounded px-1"/>   
        <label for="tarikh_keluar" class="font-bold ">TARIKH KELUAR</label>
        <input type="text" name="tarikh_keluar" id="tarikh_keluar" 
          class="border border-black hover:outline-none rounded px-1"/>   
      <h3 class='col-span-2 bg-slate-200 text-center font-bold'>BILIK PERSEORANGAN (HOD)</h3>
        <label for="bilik_seorang_L" class="font-bold justify-self-center">L</label>
        <input type="text" name="bilik_seorang_L" id="bilik_seorang_L" 
          class="border border-black hover:outline-none rounded px-1"/>    
        <label for="bilik_seorang_P" class="font-bold justify-self-center">P</label>
        <input type="text" name="bilik_seorang_P" id="bilik_seorang_P" 
         class="border border-black hover:outline-none rounded px-1"/>    
        <h3 class='col-span-2 bg-slate-200 text-center font-bold'>BILIK BERKONGSI BERDUA</h3>
          <label for="bilik_berdua_L" class="font-bold justify-self-center">L</label>
          <input type="text" name="bilik_berdua_L" id="bilik_berdua_L" 
            class="border border-black hover:outline-none rounded px-1"/>    
          <label for="bilik_berdua_P" class="font-bold justify-self-center">P</label>
          <input type="text" name="bilik_berdua_P" id="bilik_berdua_P" 
           class="border border-black hover:outline-none rounded px-1"/>     
           <label for="catatan_ruai_inap" class="font-bold ">CATATAN</label>
           <input type="text" name="catatan_ruai_inap" id="catatan_ruai_inap" 
             class="border border-black hover:outline-none rounded px-1"/> 
    </div>

    <div class="grid grid-cols-2 border border-black p-1">
      <h2 class='col-span-2 bg-slate-300 text-center font-bold'>TEMPAHAN BILIK LATIHAN</h2>
      <h3 class='col-span-2 bg-slate-200 text-center font-bold'>MAKLUMAT TEMPAHAN BILIK LATIHAN</h3>

      <div class="text-center bg-slate-200 font-bold">JENIS BILIK</div>
      <div class="text-center bg-slate-200 font-bold">JUMLAH</div>
        
      <label for="bilik_kuliah" class="font-bold ">BILIK KULIAH</label>
      <input type="text" name="bilik_kuliah" id="bilik_kuliah" 
        class="border border-black hover:outline-none rounded px-1"/> 
        <label for="bilik_bengkel" class="font-bold ">BILIK BENGKEL</label>
        <input type="text" name="bilik_bengkel" id="bilik_bengkel" 
          class="border border-black hover:outline-none rounded px-1"/> 
          <label for="bilik_seminar" class="font-bold ">BILIK SEMINAR</label>
          <input type="text" name="bilik_seminar" id="bilik_seminar" 
            class="border border-black hover:outline-none rounded px-1"/>
            <label for="makmal_komputer" class="font-bold ">MAKMAL KOMPUTER</label>
            <input type="text" name="makmal_komputer" id="makmal_komputer" 
              class="border border-black hover:outline-none rounded px-1"/> 
              <label for="dewan_rempah_ratus" class="font-bold ">DEWAN REMPAH RATUS</label>
              <input type="text" name="dewan_rempah_ratus" id="dewan_rempah_ratus" 
                class="border border-black hover:outline-none rounded px-1"/>  
            <label for="lain_jenis_bilik" class="font-bold ">LAIN-LAIN(NYATAKAN)</label>
            <input type="text" name="makmal_komputer" id="makmal_komputer" 
              class="border border-black hover:outline-none rounded px-1"/>  
      
      <div class="text-center bg-slate-200 font-bold">SUSUN ATUR</div>
      <div class="text-center bg-slate-200 font-bold">(/)</div>
      
      <label for="classroom" class="font-bold ">CLASSROOM</label>
      <input type="text" name="classroom" id="classroom" 
        class="border border-black hover:outline-none rounded px-1"/>  
      
        <label for="cluster" class="font-bold ">CLUSTER</label>
        <input type="text" name="cluster" id="cluster" 
          class="border border-black hover:outline-none rounded px-1"/>  
      
        <label for="ushape" class="font-bold ">U-SHAPE</label>
        <input type="text" name="ushape" id="ushape" 
          class="border border-black hover:outline-none rounded px-1"/>  
          
        <label for="fishbone" class="font-bold ">FISHBONE</label>
        <input type="text" name="fishbone" id="fishbone" 
          class="border border-black hover:outline-none rounded px-1"/> 
          
        <label for="theatre" class="font-bold ">THEATRE</label>
        <input type="text" name="theatre" id="theatre" 
          class="border border-black hover:outline-none rounded px-1"/>  

        <label for="lain_susun_atur" class="font-bold ">LAIN-LAIN(NYATAKAN)</label>
        <input type="text" name="lain_susun_atur" id="lain_susun_atur" 
          class="border border-black hover:outline-none rounded px-1"/> 

        <div class='col-span-2'>&nbsp;</div>
        <label for="catatan_bilik_latihan" class="font-bold ">CATATAN</label>
        <input type="text" name="catatan_bilik_latihan" id="catatan_bilik_latihan" 
          class="border border-black hover:outline-none rounded px-1"/> 
        <div class='col-span-2'>&nbsp;</div>
        <h3 class='col-span-2 bg-slate-200 text-center font-bold'>MAKLUMAT TEMPAHAN (AUDIO-VISUAL)</h3>

        <div class="text-center bg-slate-200 font-bold">JENIS PERALATAN</div>
        <div class="text-center bg-slate-200 font-bold">JUMLAH DIPERLUKAN</div>
        
        <label for="lcd_projector" class="font-bold ">LCD PROJECTOR</label>
        <input type="text" name="lcd_projector" id="lcd_projector" 
          class="border border-black hover:outline-none rounded px-1"/> 

          <label for="pa" class="font-bold ">PA (CORDLESS/COLLAR MIC)</label>
          <input type="text" name="pa" id="pa" 
            class="border border-black hover:outline-none rounded px-1"/> 
          
          <label for="portable_pa" class="font-bold ">PORTABLE PA(TOA)</label>
          <input type="text" name="portable_pa" id="portable_pa" 
            class="border border-black hover:outline-none rounded px-1"/> 
          
          <label for="bateri" class="font-bold ">BATERI (AAA,AAA)</label>
          <input type="text" name="bateri" id="bateri" 
            class="border border-black hover:outline-none rounded px-1"/> 
          
          <label for="flip_chart" class="font-bold ">FLIP CHART STAND</label>
          <input type="text" name="flip_chart" id="flip_chart" 
            class="border border-black hover:outline-none rounded px-1"/> 
          
          <label for="a4_paper" class="font-bold ">A4 PAPER</label>
          <input type="text" name="a4_paper" id="a4_paper" 
            class="border border-black hover:outline-none rounded px-1"/> 
          
          <label for="kertas_mahjong" class="font-bold ">KERTAS MAHJONG</label>
          <input type="text" name="kertas_mahjong" id="kertas_mahjong" 
            class="border border-black hover:outline-none rounded px-1"/>
          
          <label for="alat_tulis" class="font-bold ">ALAT TULIS</label>
          <input type="text" name="alat_tulis" id="alat_tulis" 
            class="border border-black hover:outline-none rounded px-1"/> 

          <label for="lain_jenis_peralatan" class="font-bold ">LAIN-LAIN(NYATAKAN)</label>
          <input type="text" name="lain_jenis_peralatan" id="lain_jenis_peralatan" 
            class="border border-black hover:outline-none rounded px-1"/> 

          

    </div>