<div class="container overflow-x-scroll" >
    <table>
        <thead>
            <tr>
                <th class="border border-black">TARIKH</th>
                <th class="border border-black">SARAPAN</th>
                <th class="border border-black">PAX</th>
                <th class="border border-black">MINUM PAGI</th>
                <th class="border border-black">PAX</th>
                <th class="border border-black">MAKAN T/HARI</th>
                <th class="border border-black">PAX</th>
                <th class="border border-black">MINUM PETANG</th>
                <th class="border border-black">PAX</th>
                <th class="border border-black">MAKAN MALAM</th>
                <th class="border border-black">PAX</th>
                <th class="border border-black">MINUM MALAM</th>
                <th class="border border-black">PAX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_1"></td>
                <td class="time" rowspan="8">7.00AM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sarapan_1"></td>
                <td class="time" rowspan="8">9.30AM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_pagi_1"></td>
                <td class="time" rowspan="8">12.30PM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_thari_1"></td>
                <td class="time" rowspan="8">3.30PM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_petang_1"></td>
                <td class="time" rowspan="8">6.30PM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_malam_1"></td>
                <td class="time" rowspan="8">9.30PM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_malam_1"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_2"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sarapan_2"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_pagi_2"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_thari_2"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_petang_2"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_malam_2"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_malam_2"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_3"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sarapan_3"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_pagi_3"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_thari_3"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_petang_3"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_malam_3"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_malam_3"></td>
            </tr>
            <tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_4"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sarapan_4"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_pagi_4"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_thari_4"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_petang_4"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_malam_4"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_malam_4"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_5"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sarapan_5"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_pagi_5"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_thari_5"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_petang_5"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_malam_5"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_malam_5"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_6"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sarapan_6"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_pagi_6"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_thari_6"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_petang_6"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_malam_6"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_malam_6"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_7"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sarapan_7"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_pagi_7"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_thari_7"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_petang_7"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="makan_malam_7"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="minum_malam_7"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center">&nbsp;</td>
                <td  class="border border-black text-center"><b>SAHUR</b></td>
                <td  class="border border-black text-center"><b>PAX</b></td>
                <td  class="border border-black text-center"><b>BUKA PUASA</b></td>
                <td  class="border border-black text-center"><b>PAX</b></td>
                <td  class="border border-black text-center"><b>MOREH</b></td>
                <td  class="border border-black text-center"><b>PAX</b></td>
                <td rowspan="6" colspan="6"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_8"></td>
                <td rowspan="5">4.00AM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sahur_1"></td>
                <td rowspan="5">7.00PM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="buka_puasa_1"></td>
                <td rowspan="5">9.00PM</td>
                <td  class="border border-black text-center"><input type="number" min=0 name="moreh_1"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_9"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sahur_2"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="buka_puasa_2"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="moreh_2"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_10"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sahur_3"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="buka_puasa_3"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="moreh_3"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_11"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sahur_4"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="buka_puasa_4"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="moreh_4"></td>
            </tr>
            <tr>
                <td  class="border border-black text-center"><input type="date" name="tarikh_12"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="sahur_5"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="buka_puasa_5"></td>
                <td  class="border border-black text-center"><input type="number" min=0 name="moreh_5"></td>
            </tr>
        </tbody>
    </table>
</div>
<style scoped>
    .container{
        display:flex;
        gap:0.5rem;
        flex-wrap: wrap;
        overflow-x: scroll;
        width: 100%;
    }
    table{
        border-collapse: collapse;
        font-size:x-small;
        position:relative;
        left:0;
    }
    th,td{
        border:1px solid black;
        padding:0.1rem;
        text-align: center;
    }
    .time{
      transform-origin: left top;
      white-space: nowrap;
    }
    input[type="number"]{
        width:80;
    }
</style>