---
import { Workbook } from "exceljs";
import PickUser from "../components/solidjs/PickUser";
import Layout from "../layouts/Layout.astro";
import Excel from "exceljs";
import Mess from "../components/astro/Mess.astro";

if(Astro.request.method === "POST"){
	try{
		const body = await Astro.request.formData();
		console.log(body)
		const workbook = new Excel.Workbook();
		await workbook.xlsx.readFile("./public/Borang Tempahan Kemudahan ELC_2023_PTC (1).XLSX");
		const sheet = workbook.getWorksheet(1);
		sheet.eachRow({includeEmpty:false},(row,i)=>{
			row.eachCell({includeEmpty:false},(cell,j)=>{
				sheet.getCell(i,j).style = cell.style;
			});
		});
			sheet.getCell('E14').value = body.get('jabatan_pemohon')?.toString();
            sheet.getCell('E15').value = body.get('nama_pemohon')?.toString();
            sheet.getCell('E16').value = body.get('telefon_pemohon')?.toString();
            sheet.getCell('E17').value = body.get('emel_pemohon')?.toString();
            sheet.getCell('M14').value = body.get('jabatan_pegawai')?.toString();
            sheet.getCell('M15').value = body.get('nama_pegawai')?.toString();
            sheet.getCell('M16').value = body.get('telefon_pegawai')?.toString();
            sheet.getCell('M17').value = body.get('emel_pegawai')?.toString();
            sheet.getCell('E21').value = body.get('nama_program')?.toString();
            sheet.getCell('E22').value = body.get('jumlah_peserta')?.toString();
            sheet.getCell('M21').value = body.get('tarikh_mula')?.toString();
            sheet.getCell('M22').value = body.get('tarikh_akhir')?.toString();
            sheet.getCell('M23').value = body.get('masa_seminar')?.toString();
            sheet.getCell('F27').value = body.get('tarikh_masuk')?.toString();
            sheet.getCell('F28').value = body.get('tarikh_keluar')?.toString();
            sheet.getCell('F30').value = body.get('bilik_seorang_L')?.toString();
            sheet.getCell('H30').value = body.get('bilik_seorang_P')?.toString();
            sheet.getCell('N30').value = body.get('bilik_berdua_L')?.toString();
            sheet.getCell('P30').value = body.get('bilik_berdua_P')?.toString();
            sheet.getCell('D31').value = body.get('catatan_ruai_inap')?.toString();
            sheet.getCell('E39').value = body.get('bilik_kuliah')?.toString();
            sheet.getCell('E40').value = body.get('bilik_bengkel')?.toString();
            sheet.getCell('E41').value = body.get('bilik_seminar')?.toString();
            sheet.getCell('E42').value = body.get('makmal_komputer')?.toString();
            sheet.getCell('E43').value = body.get('dewan_rempah_ratus')?.toString();
            sheet.getCell('E45').value = body.get('lain_jenis_bilik')?.toString();
            sheet.getCell('I39').value = body.get('classroom')?.toString();
            sheet.getCell('I40').value = body.get('cluster')?.toString();
            sheet.getCell('I41').value = body.get('ushape')?.toString();
            sheet.getCell('I42').value = body.get('fishbone')?.toString();
            sheet.getCell('I43').value = body.get('theatre')?.toString();
            sheet.getCell('I45').value = body.get('lain_susun_atur')?.toString();
            sheet.getCell('D47').value = body.get('catatan_bilik_latihan')?.toString();
            sheet.getCell('O39').value = body.get('lcd_projector')?.toString();
            sheet.getCell('O40').value = body.get('pa')?.toString();
            sheet.getCell('O41').value = body.get('portable_pa')?.toString();
            sheet.getCell('O42').value = body.get('bateri')?.toString();
            sheet.getCell('O43').value = body.get('flip_chart')?.toString();
            sheet.getCell('O44').value = body.get('a4_paper')?.toString();
            sheet.getCell('O45').value = body.get('kertas_mahjong')?.toString();
            sheet.getCell('O46').value = body.get('alat_tulis')?.toString();
            sheet.getCell('O47').value = body.get('lain_jenis_peralatan')?.toString();
            sheet.getCell('G52').value = body.get('kod_material')?.toString();
            sheet.getCell('G53').value = body.get('gl_kod')?.toString();
            sheet.getCell('G54').value = body.get('pusat_kos')?.toString();
            sheet.getCell('G55').value = body.get('bajet_makan_minum')?.toString();
            sheet.getCell('G56').value = body.get('catatan_kos_fb')?.toString();

            sheet.getCell('C59').value = body.get('tarikh_1')?.toString();
            sheet.getCell('F59').value = body.get('sarapan_1')?.toString();
            sheet.getCell('H59').value = body.get('minum_pagi_1')?.toString();
            sheet.getCell('J59').value = body.get('makan_thari_1')?.toString();
            sheet.getCell('L59').value = body.get('minum_petang_1')?.toString();
            sheet.getCell('N59').value = body.get('makan_malam_1')?.toString();
            sheet.getCell('P59').value = body.get('minum_malam_1')?.toString();

            sheet.getCell('C60').value = body.get('tarikh_2')?.toString();
            sheet.getCell('F60').value = body.get('sarapan_2')?.toString();
            sheet.getCell('H60').value = body.get('minum_pagi_2')?.toString();
            sheet.getCell('J60').value = body.get('makan_thari_2')?.toString();
            sheet.getCell('L60').value = body.get('minum_petang_2')?.toString();
            sheet.getCell('N60').value = body.get('makan_malam_2')?.toString();
            sheet.getCell('P60').value = body.get('minum_malam_2')?.toString();

            sheet.getCell('C61').value = body.get('tarikh_3')?.toString();
            sheet.getCell('F61').value = body.get('sarapan_3')?.toString();
            sheet.getCell('H61').value = body.get('minum_pagi_3')?.toString();
            sheet.getCell('J61').value = body.get('makan_thari_3')?.toString();
            sheet.getCell('L61').value = body.get('minum_petang_3')?.toString();
            sheet.getCell('N61').value = body.get('makan_malam_3')?.toString();
            sheet.getCell('P61').value = body.get('minum_malam_3')?.toString();

            sheet.getCell('C62').value = body.get('tarikh_4')?.toString();
            sheet.getCell('F62').value = body.get('sarapan_4')?.toString();
            sheet.getCell('H62').value = body.get('minum_pagi_4')?.toString();
            sheet.getCell('J62').value = body.get('makan_thari_4')?.toString();
            sheet.getCell('L62').value = body.get('minum_petang_4')?.toString();
            sheet.getCell('N62').value = body.get('makan_malam_4')?.toString();
            sheet.getCell('P62').value = body.get('minum_malam_4')?.toString();

            sheet.getCell('C63').value = body.get('tarikh_5')?.toString();
            sheet.getCell('F63').value = body.get('sarapan_5')?.toString();
            sheet.getCell('H63').value = body.get('minum_pagi_5')?.toString();
            sheet.getCell('J63').value = body.get('makan_thari_5')?.toString();
            sheet.getCell('L63').value = body.get('minum_petang_5')?.toString();
            sheet.getCell('N63').value = body.get('makan_malam_5')?.toString();
            sheet.getCell('P63').value = body.get('minum_malam_5')?.toString();

            sheet.getCell('C64').value = body.get('tarikh_6')?.toString();
            sheet.getCell('F64').value = body.get('sarapan_6')?.toString();
            sheet.getCell('H64').value = body.get('minum_pagi_6')?.toString();
            sheet.getCell('J64').value = body.get('makan_thari_6')?.toString();
            sheet.getCell('L64').value = body.get('minum_petang_6')?.toString();
            sheet.getCell('N64').value = body.get('makan_malam_6')?.toString();
            sheet.getCell('P64').value = body.get('minum_malam_6')?.toString();

            sheet.getCell('C65').value = body.get('tarikh_7')?.toString();
            sheet.getCell('F65').value = body.get('sarapan_7')?.toString();
            sheet.getCell('H65').value = body.get('minum_pagi_7')?.toString();
            sheet.getCell('J65').value = body.get('makan_thari_7')?.toString();
            sheet.getCell('L65').value = body.get('minum_petang_7')?.toString();
            sheet.getCell('N65').value = body.get('makan_malam_7')?.toString();
            sheet.getCell('P65').value = body.get('minum_malam_7')?.toString();

			const buffer = await sheet.workbook.xlsx.writeBuffer();
			return new Response(buffer,{
				headers:{
					'Content-Type': 'application/pdf',
					'Content-Disposition': `attachment; filename="borang tempahan.xlsx"`,
				}
			})

	}catch(err){
		console.log(err)
	}
	
}

---

<Layout title="Borang Tempahan">
	<main class="flex justify-center p-2">
		<form id="borang_form" method="POST" class="flex flex-col items-center gap-2 bg-slate-300 max-w-fit">
			<h1 class="text-center font-bold bg-slate-400 w-full">MAKLUMAT PETUGAS PROGRAM</h1>
			<PickUser name="pemohon" label="PEMOHON" client:load/>
			<PickUser name="pegawai" label="PEGAWAI" client:load/>
			<Mess/>
			<div class="p-2">
				<button class="text-white bg-blue-500 hover:bg-blue-600 rounded p-1">MUAT TURUN</button>
			</div>
		</form>
	</main>
</Layout>
<script>
	const borang = document.querySelector("#borang_form") as HTMLFormElement;

	borang?.addEventListener('submit',(e)=>{
		const formData = new FormData(borang);
  		let body:any = {}
  		for(const [key,value] of formData.entries()){
    		body[key] = value;
  		}
		fetch(import.meta.env.PUBLIC_SERVER,{
			method:"POST",
    		headers:{
    		  "Content-Type":"application/json",
    		},
			body:JSON.stringify(body)
		})
		.then(res=>res.blob())
		.then(data=>{
			const url = URL.createObjectURL(data);
        	const a = document.createElement('a');
        	a.href=url;
        	a.download=`${crypto.randomUUID()}.xlsx`;
        	a.click();
        	URL.revokeObjectURL(url);
		}).catch(err=>console.log(err))
		
	})
</script>